ConsoleClient/Connected Services/ServiceReference2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TcpEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TestService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_OpenConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenConnection" />
  </wsdl:message>
  <wsdl:message name="IService_OpenConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CloseConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseConnection" />
  </wsdl:message>
  <wsdl:message name="IService_CloseConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCountry" />
  </wsdl:message>
  <wsdl:message name="IService_AddCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCountryResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCountriesAdded_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesAdded" />
  </wsdl:message>
  <wsdl:message name="IService_GetCountriesAdded_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesAddedResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="IService_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAverage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAverage" />
  </wsdl:message>
  <wsdl:message name="IService_GetAverage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAverageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSortArray_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSortArray" />
  </wsdl:message>
  <wsdl:message name="IService_GetSortArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSortArrayResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTopper_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopper" />
  </wsdl:message>
  <wsdl:message name="IService_GetTopper_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopperResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="IService_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="OpenConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/OpenConnection" message="tns:IService_OpenConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OpenConnectionResponse" message="tns:IService_OpenConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CloseConnection" message="tns:IService_CloseConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CloseConnectionResponse" message="tns:IService_CloseConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddCountry" message="tns:IService_AddCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddCountryResponse" message="tns:IService_AddCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountriesAdded">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCountriesAdded" message="tns:IService_GetCountriesAdded_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCountriesAddedResponse" message="tns:IService_GetCountriesAdded_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMessage" message="tns:IService_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMessageResponse" message="tns:IService_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAverage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAverage" message="tns:IService_GetAverage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAverageResponse" message="tns:IService_GetAverage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSortArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSortArray" message="tns:IService_GetSortArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSortArrayResponse" message="tns:IService_GetSortArray_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopper">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTopper" message="tns:IService_GetTopper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTopperResponse" message="tns:IService_GetTopper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCountries" message="tns:IService_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCountriesResponse" message="tns:IService_GetCountries_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TcpEndPoint" type="tns:IService">
    <wsp:PolicyReference URI="#TcpEndPoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="OpenConnection">
      <soap12:operation soapAction="http://tempuri.org/IService/OpenConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseConnection">
      <soap12:operation soapAction="http://tempuri.org/IService/CloseConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCountry">
      <soap12:operation soapAction="http://tempuri.org/IService/AddCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountriesAdded">
      <soap12:operation soapAction="http://tempuri.org/IService/GetCountriesAdded" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap12:operation soapAction="http://tempuri.org/IService/GetMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAverage">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAverage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSortArray">
      <soap12:operation soapAction="http://tempuri.org/IService/GetSortArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopper">
      <soap12:operation soapAction="http://tempuri.org/IService/GetTopper" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap12:operation soapAction="http://tempuri.org/IService/GetCountries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="TcpEndPoint" binding="tns:TcpEndPoint">
      <soap12:address location="net.tcp://localhost:6790/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:6790/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-SDO7QCB\Gagandeep Kaur</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>